/* 
 * stickynote.less
 */
/* 
 * colours.less
 */
/* 
 * dimensions.less
 */
/**
 * elevations.less
 */
body {
  margin: 0px;
}
/**
 * content.less
 */
.content {
  width: 100%;
  max-width: 1080px;
}
/* 
 * nav.less
 */
.nav {
  background-color: #004ef7;
  height: 50px;
  width: 100%;
  z-index: 999;
  box-shadow: 0px 3px 5px #000000;
  padding: 10px;
}
.nav--title {
  color: #ffffff;
}
